@model IEnumerable<Travely.Models.TblUser>

@{
    ViewData["Title"] = "Index";
}

<p style="margin-top:50px; font-size: 22px;"><a asp-action="Create">Create New</a></p>

<table class="custom-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Fullname)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.PasswordHash)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Age)</th>
            <th>@Html.DisplayNameFor(model => model.Role)</th>
            <th>@Html.DisplayNameFor(model => model.Imagepath)</th>
            <th>@Html.DisplayNameFor(model => model.Country)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Fullname)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td><span class="password-mask">★★★★★</span></td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                <td>@Html.DisplayFor(modelItem => item.Role)</td>
                <td>@Html.DisplayFor(modelItem => item.Imagepath)</td>
                <td>@Html.DisplayFor(modelItem => item.Country)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
